*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-decoration: none;
    color: black;
}

body{
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
}

.option{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 40px;
}

.title{
    padding: 3% 0 3% 0;
    font-size: 30px;
    font-weight: 100;
    background-color: rgb(255, 183, 0);
}

.x{
    background-color: rgb(235, 168, 1);
}
.x:hover{
    transition: all 0.3s ease;
    background-color: rgb(216, 155, 2);
}


.R{
    transition: all 0.3s ease;
    background-color: rgb(255, 183, 0);
}


