<!DOCTYPE html>
<html>
    <head>
        <title>IIND</title>
        <link rel=stylesheet href="{{ url_for('static',filename='home_style.css') }}">
    </head>

    <body>
       <div class="mainTitle">
           <p class="titleText">Calculadora Ingeniería industrial</p>
       </div>

       <div class="menu">
            <a class="menuOption al" href="{{ url_for( 'menu_algebra_lineal' ) }}">
                <p class="optionText">Álgebra Lineal</p>
            </a>


            <a class="menuOption ce">
                <p class="optionText">Control estadístico</p>
            </a>


            <a class="menuOption es" href="url_for( 'estadistica' )">
                <p class="optionText">Estadística</p>
            </a>


            <a class="menuOption ed">
                <p class="optionText">Ecuaciones diferenciales</p>
            </a>


            <a class="menuOption si">
                <p class="optionText">Simulación</p>
            </a>


            <a class="menuOption na">
                <p class="optionText">Números aleatorios</p>
            </a>


            <a class="menuOption mn">
                <p class="optionText">Métodos numéricos</p>
            </a>


            <a class="menuOption cm" >
                <p class="optionText">Cálculo multivariado</p>
            </a>


            <a class="menuOption uk">
                <p class="optionText">Materia9</p>
            </a>


            <a class="menuOption uk">
                <p class="optionText">Materia10</p>
            </a>


            

       </div>

    </body>

</html>