<!DOCTYPE html>
<html>
    <head>
        <title>IIND</title>
        <link rel=stylesheet href="{{ url_for('static',filename='home_style.css') }}">
    </head>

    <body>
       <div class="mainTitle">
           <p class="titleText">Calculadora Ingeniería industrial</p>
       </div>

       <div class="menu">
            <a class="menuOption al" href="{{ url_for( 'menu_algebra_lineal' ) }}">
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Álgebra Lineal</p>
            </a>


            <a class="menuOption ce" href="{{ url_for( 'menu_control_estadistico' ) }}">
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Control estadístico</p>
            </a>


            <a class="menuOption ed">
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Ecuaciones diferenciales</p>
            </a>


            <a class="menuOption si">
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Simulación</p>
            </a>


            <a class="menuOption na">
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Números aleatorios</p>
            </a>


            <a class="menuOption mn">
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Métodos numéricos</p>
            </a>


            <a class="menuOption cm" >
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Cálculo multivariado</p>
            </a>


            <a class="menuOption uk">
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Pruebas de hip&oacute;tesis </p>
            </a>


            <a class="menuOption uk">
                <div class="upperString"> &ThinSpace; </div>
                <p class="optionText">Machine learning</p>
            </a>


            

       </div>

    </body>

</html>