<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet href="{{ url_for('static',filename='menu.css') }}">
    </head>
    <body>
        <div class="title">
            <h1> Menu &aacute;lgebra lineal</h1>
        </div>

        <a class="option pp" href="{{ url_for( 'producto_punto' ) }}">
            Producto punto
        </a>
        


        <a class="option pc" href="{{ url_for( 'producto_cruz' ) }}">
            Producto cruz
        </a>
        


        <a class="option de" href="{{ url_for( 'determinante' ) }}">
            Determinante 
        </a>
        
      
        
        <a class="option ss" href="{{ url_for( 'sistema' ) }}">
            Soluci&oacute;n de sistema 
        </a>
        



    </body>
</html>