<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet href="{{ url_for('static',filename='menu.css') }}">
    </head>
    <body>
        <div class="title ce">
            <h1 class="ce"> C&aacute;lculo multivariado </h1>
        </div>

        <a class="option" href="{{ url_for( 'parametrica') }}">
            Ecuacion parametrica
        </a>
        


        <a class="option" href="#">
            Gradiente
        </a>
        
      
        
        <a class="option" href="#">
            Funci&oacute;n de 2 variables
        </a>
        


    </body>
</html>