<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet href="{{ url_for('static',filename='menu_control_estadistico.css') }}">
    </head>
    <body>
        <div class="title">
            <h1> Control estad&iacute;stico</h1>
        </div>

        <a class="option x" href="#">
            Gr&aacute;fico x
        </a>
        


        <a class="option R" href="#">
            Gr&aacute;fico R
        </a>
        


        <a class="option s" href="#">
            Gr&aacute;fico s
        </a>
        
      
        
        <a class="option p" href="#">
            Gr&aacute;fico p
        </a>
        

        <a class="option np" href="#">
            Gr&aacute;fico np
        </a>


        <a class="option c" href="#">
            Gr&aacute;fico c
        </a>

        
        <a class="option u" href="#">
            Gr&aacute;fico u
        </a>



    </body>
</html>