<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet href="{{ url_for('static',filename='determinante.css') }}">
    </head>


    <body>
        <p class="mainText">Ingrese los vectores (u x v)</p>


        <form method="POST">
            <label>u = </label>
            {{ form.csrf_token }}
            {{ form.u1 }}
            {{ form.u2 }}
            {{ form.u3 }}
            <br>
            <br>
            <label>v = </label>

            {{ form.v1 }}
            {{ form.v2 }}
            {{ form.v3 }}
            <br>
            <br>

            {{ form.s }}
        </form>
    </body>

</html>